.container{
    width: 80%;
    height: 50px;
    margin-left: 10%;
}

.titulo{
    width: 100%;
}

.sumario{
    width: 100%;
}

.preco{
    width: 15%;
    padding-right: 10px;
    margin-left: 9%;
}

.paginas{
    width: 15%;
}

.isbn{
    width: 30%;
    padding: 10px;
}

.capa{
    width: 71.5%;
    padding-right: 10px;
    margin-left: 14.5%;

}

.autor{
    width: 30%;
    padding-right: 10px;
    margin-left: 20%;
}

.categorias{
    width: 30%;
}

.salvar{
 width: 10%;
 margin-right: 25px;
 justify-content: space-evenly;
}

.cancelar{
    width: 10%;
}

.botoes{
    justify-content: space-evenly;
    text-align: center;
}

.publicacao{
    width: 20%;
}