<div class="container">
  <form (ngSubmit)="onSave(autor)" [formGroup]="autorForm">
    <div>
      <mat-form-field class="nome" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" type="text" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="email" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="text" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="descricao" appearance="fill">
        <mat-label>Descricção</mat-label>
        <textarea matInput formControlName="descricao" type="text"></textarea>
      </mat-form-field>
    </div>
    <div class="botoes">
      <button class="salvar" type="submit" mat-stroked-button color="primary">
        Salvar
      </button>
      <button class="cancelar" mat-stroked-button color="accent" routerLink="">
        Cancelar
      </button>
    </div>
  </form>
</div>
