<div class="container">
  <div class="col-2">
    <div class="input-endereco">
      <input
        type="text"
        id="cep"
        placeholder="CEP"
        [(ngModel)]="endereco.cep"
      />
    </div>
    <div class="botao-endereco">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="buscarEndereco()"
      >
        Buscar endereço
      </button>
    </div>
    <div class="endereco">
      <input type="text" disabled [ngModel]="endereco.logradouro" />
    </div>
    <div class="bairro">
      <input type="text" disabled [ngModel]="endereco.bairro" />
    </div>
    <div class="cidade">
      <input type="text" disabled [ngModel]="endereco.localidade" />
    </div>
    <div class="estado">
      <input type="text" disabled [ngModel]="endereco.uf" />
    </div>
  </div>

  <form [formGroup]="pessoaForm" (ngSubmit)="comprar()">
    <div class="col-2">
      <div>
        <input formControlName="numero" placeholder="Número" type="text" />
      </div>

      <div>
        <input
          formControlName="complemento"
          placeholder="Complemento"
          type="text"
        />
      </div>

      <div>
        <input formControlName="nome" placeholder="Nome" type="text" />
      </div>

      <div>
        <input formControlName="cpf" placeholder="CPF" type="text" />
      </div>
    </div>

    <div class="col-2">
      <button class="botao" type="submit" mat-stroked-button color="primary">
        Salvar
      </button>
      <button class="botao" mat-stroked-button color="accent" routerLink="">
        Cancelar
      </button>
    </div>
  </form>
</div>
<div class="centro">
  <div class="lista-capa" *ngFor="let item of carrinho.itensDTO">
    <img class="capa" src="{{ item.livroCarrinhoDTO.capa }}" alt="" />
  </div>
  <div class="preco">
    Preço total: {{ carrinho.precoTotal | currency: "BRL" }}
  </div>
</div>
